<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:javaee="http://java.sun.com/xml/ns/javaee" 

xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>tryEmailSending</display-name>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>25</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>587</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>monthlyreportpict@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>sdtlcnlpict</param-value>
  </context-param>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>loginPackage.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PaperAddServlet</servlet-name>
    <servlet-class>databaseEntry.PaperAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaperAddServlet</servlet-name>
    <url-pattern>/PaperAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AttendAddServlet</servlet-name>
    <servlet-class>databaseEntry.AttendAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendAddServlet</servlet-name>
    <url-pattern>/AttendAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConductAddServlet</servlet-name>
    <servlet-class>databaseEntry.ConductAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConductAddServlet</servlet-name>
    <url-pattern>/ConductAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrgAddServlet</servlet-name>
    <servlet-class>databaseEntry.OrgAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrgAddServlet</servlet-name>
    <url-pattern>/OrgAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>loginPackage.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RetrieveServlet</servlet-name>
    <servlet-class>retrievePackage.RetrieveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveServlet</servlet-name>
    <url-pattern>/RetrieveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RetrieveServletdummy</servlet-name>
    <servlet-class>retrievePackage.RetrieveServletdummy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveServletdummy</servlet-name>
    <url-pattern>/RetrieveServletdummy</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>emailSendingServlet</servlet-name>
    <servlet-class>adminPackage.emailSendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>emailSendingServlet</servlet-name>
    <url-pattern>/emailSendingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>adminSearch.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForgotPassword</servlet-name>
    <servlet-class>adminPackage.ForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassword</servlet-name>
    <url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudAddServlet</servlet-name>
    <servlet-class>databaseEntry.StudAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudAddServlet</servlet-name>
    <url-pattern>/StudAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PendingStudServlet</servlet-name>
    <servlet-class>retrievePackage.PendingStudServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PendingStudServlet</servlet-name>
    <url-pattern>/PendingStudServlet</url-pattern>
  </servlet-mapping>
<servlet>
    <servlet-name>PendingStudServletdummy</servlet-name>
    <servlet-class>retrievePackage.PendingStudServletdummy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PendingStudServletdummy</servlet-name>
    <url-pattern>/PendingStudServletdummy</url-pattern>
  </servlet-mapping>
     <servlet>
    <servlet-name>DeactivateServlet</servlet-name>
    <servlet-class>adminPackage.DeactivateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeactivateServlet</servlet-name>
    <url-pattern>/DeactivateServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>DeactivateServletdummy</servlet-name>
    <servlet-class>adminPackage.DeactivateServletdummy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeactivateServletdummy</servlet-name>
    <url-pattern>/DeactivateServletdummy</url-pattern>
  </servlet-mapping>
</web-app>